options {
        forwarders {
                8.8.8.8;
        };
        allow-query { any; };
};

zone "{{ domain }}" IN {
        type master;
        file "/var/named/domain.zone";
};


/* zone "{{ domain }}" IN { */
/*         type master; */
/*         file "/var/named/domain.rzone"; */
/* }; */
